<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>
    <%- include('includes/navbar') %>

    <h3 style="text-align: center;">Resultados de pesquisa para "<%- pesquisa %>"</h3>
<div class="feed">


    <% show.forEach(shows => { %>
        <div class="content_img">
        <%if(shows.show.image !== null){%>
            <a href="/showdetail/<%= shows.show.id %>">

            <img src="<%= shows.show.image.medium %>" alt="<%= shows.show.name %>">
            <div><%= shows.show.name %></div>
        </a>
        
        <%}else{%>
            <%null%>
            <%  }%>
        </div>
    <% }) %>
</div>
<br>
<br>
<br>
<br>

</body>
</html>