<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

<body>
        <%- include('includes/navbar') %>

    <div  style="text-align: center;">
    <h3>Pesquisar</h3>
    <form action="/detalhar" method="POST">
        <input type="text" name="ShowName">
        <br>
        <button type="submit">Go Detail</button>
        <br>
    </form>
</div>
    <hr />
    <div class="feed">

<% todos.forEach(shows=> { %>
    <div class="content_img">
        <%if(shows.image !==null){%>
            <a href="/showdetail/<%= shows.id %>">

                <img src="<%= shows.image.medium %>" alt="<%= shows.name %>">
                <div>
                    <%= shows.name %>
                </div>
            </a>

            <%}else{%>
                <%null%>
                    <% }%>
    </div>
    <% }) %>
        </div>

</body>

</html>